<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="debuglogfile" xsi:type="File" fileName="debug_${date:yyyyMMdd}.log" />
    <target name="tracelogfile" xsi:type="File" fileName="trace_${date:yyyyMMdd}.log" />
    <target name="tracelogfile" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="${message}">
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="Yellow" /> />
    </target>
    <target name="logconsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="${message}">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Blue" />
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="White" backgroundColor="Blue"/>
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Black" backgroundColor="Red" />
    </target>
  </targets>

  <rules>
    <!-- Used during debug stage to capture values, debug information, ability to turn this on or off as we need -->
    <logger name="*" level="Debug" writeTo="debuglogfile" />

    <!-- Trace the application code movement, ability to turn this on or off as we need -->
    <logger name="*" level="Trace" writeTo="tracelogfile" />

    <!-- Just logs to console -->
    <logger name="*" level="Info" writeTo="logconsole" />

    <!-- Display user warnings or error messages -->
    <logger name="*" level="Warn" writeTo="logconsole" />

    <!-- Code exception occurs or error event -->
    <logger name="*" level="Error" writeTo="logconsole" />
    
    <!-- Unhandled exception program wide -->
    <logger name="*" level="Fatal" writeTo="logconsole" />
  </rules>
</nlog>